body {
    /* background-image: url(https://t3.ftcdn.net/jpg/06/32/16/70/360_F_632167016_BtM8ywPtfm8SzZRnBelGWRvesw0QNjAM.jpg); */
    /* background-image:url(https://imgs.search.brave.com/HCnZDsXpCObwQuDC8LQalNpm-9a31L5aYKvFxcLS2_k/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTEz/MTI1OTg1NC9wdC9m/b3RvL2Etc2FndWFy/by1zdGFuZHMtYWxv/bmUtaW4tdGhlLWRl/c2VydC5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9THdQaTNm/Tzc1X19Kc3RzMnBP/TklsU3pmNmJJRGU0/VlZic1RZVzVaTEd4/MD0) ; */
    background-image: url(https://images.pexels.com/photos/4049778/pexels-photo-4049778.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aqua;
    text-shadow: 6px 6px 6px snow;
}
h1 {
    color: aqua;
    text-shadow: 2px 2px 6px #000000;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    color: aqua;
    text-shadow: 2px 2px 6px #000000;
    font-family: 'Times New Roman', Times, serif; 
}
.flowers {
    margin-left: 170px;
}
.span1 {
    margin-left: 120px;
}
.circle {
    border-radius: 50%;
    transition: box-shadow .3s;
    width: 24px;
    height: 24px;
    padding: 10px;
    background: #fff;
    border: none;
    color: #000;
    text-align: center;
    font: 22px Arial, sans-serif;
  }
  .circle:hover {
    box-shadow: 0 0 17px aqua;
  }
  .circle2 {
    border-radius: 50%;
    transition: box-shadow .3s;
    width: 24px;
    height: 24px;
    padding: 10px;
    background: #fff;
    border: none;
    color: #000;
    text-align: center;
    font: 22px Arial, sans-serif;
  }
  .circle2:hover {
    box-shadow: 0 0 17px aqua;
  }
  .circle3 {
    border-radius: 50%;
    transition: box-shadow .3s;
    width: 24px;
    height: 24px;
    padding: 10px;
    background: #fff;
    border: none;
    
    color: #000;
    text-align: center;
    font: 22px Arial, sans-serif;
  }
  .circle3:hover {
    box-shadow: 0 0 17px aqua;
  }
  .circle4 {
    border-radius: 50%;
    transition: box-shadow .3s;
    width: 24px;
    height: 24px;
    padding: 10px;
    background: #fff;
    border: none;
    color: #000;
    text-align: center;
    font: 22px Arial, sans-serif;
  }
  .circle4:hover {
    box-shadow: 0 0 17px aqua;
  }
  fieldset {
    display: block;
    width: 322px;
  }

  label {
    display: block;
  }
  input:invalid {
	border-color: red;
}
input,
input:valid {
	border-color: #ccc;
}
label {
    display: block;
    margin-top: 1em;
  }
  
  input:valid {
    background-color: palegreen;
  }
